@font-face {
    font-family: 'AutourOne';
    src: url('./AutourOne/AutourOne.eot');
    src: url('./AutourOne/AutourOne.eot?#iefix') format('embedded-opentype'),
    url('./AutourOne/AutourOne.woff2') format('woff2'),
    url('./AutourOne/AutourOne.woff') format('woff'),
    url('./AutourOne/AutourOne.ttf') format('truetype'),
    url('./AutourOne/AutourOne.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Almendra';
    src: url('./Almendra/Almendra-Bold.eot');
    src: url('./Almendra/Almendra-Bold.eot?#iefix') format('embedded-opentype'),
    url('./Almendra/Almendra-Bold.woff2') format('woff2'),
    url('./Almendra/Almendra-Bold.woff') format('woff'),
    url('./Almendra/Almendra-Bold.ttf') format('truetype'),
    url('./Almendra/Almendra-Bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
